html {
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
/* Estilos básicos */
body {
    background-color: #f4f4f4;
    color: #333;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Estilo de la imagen de portada */
.cover-image {
    background-image: url('https://us.canvasartrocks.com/cdn/shop/products/Seine_in_Paris_with_Eiffel_tower_Wall_Mural_Wallpaper_a_1400x.jpg?v=1578614304');
    background-position: center;
    background-size: cover;
    clip-path: polygon(0% 100%, 20% 95%, 55% 99.5%, 100% 93%, 100% 100%, 100% 0%, 0% 0%);
    filter: brightness(0.7);
    height: 100vh;
    width: 100%;
}

.line {
    background-color: #555;
    bottom: 0;
    height: 2px;
    left: 0;
    margin-bottom: -0.5%;
    opacity: 0.8;
    position: absolute;
    width: 100%;
}

.animated-text {
    color: white;
    font-size: 60px;
    font-weight: bold;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.welcome-message {
    color: white;
    font-size: 20px;
    font-weight: bold;
    left: 50%;
    position: absolute;
    top: 42%;
    transform: translateX(-50%);
    z-index: 20;
}

header {
    align-items: center;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    display: flex;
    justify-content: space-between;
    left: 0;
    padding: 10px 0;
    padding-left: 20px;
    padding-right: 20px;
    position: fixed;
    text-align: center;
    top: 0;
    transition: background-color 0.3s ease;
    width: 100%;
    z-index: 1000;
}

header.scrolled {
    background-color: rgba(0, 0, 0, 0.6);
}

header img {
    height: 75px;
    margin-left: 15%;
}

nav {
    display: flex;
    justify-content: flex-end;
    margin-right: 13%;
    width: 100%;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center; /* Centra los enlaces */
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: whitesmoke; /* Color de los enlaces */
    font-size: 18px; /* Tamaño de fuente */
    font-weight: 600; /* Peso de fuente para que se vea más moderno */
    letter-spacing: 1px; /* Espaciado entre las letras */
    position: relative;
    text-decoration: none;
    text-transform: uppercase; /* Letras en mayúsculas */
    transition: all 0.3s ease; /* Efecto suave al pasar el mouse */
}

nav ul li a.active {
    color: #ffc433;
    border-bottom: 2px solid #ffc433; /* Subrayado persistente para el enlace activo */
}

nav ul li a:focus {
    color: #ffc433;
    border-bottom: 2px solid #ffc433; /* Subrayado en el enlace cuando tiene foco */
}

nav ul li a:hover {
    color: #ffc433;
    border-bottom: 2px solid #ffc433; /* Subrayado al pasar el mouse */
}

.language-icons {
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
    margin-top: -0.5%;
}

.language-icons img {
    border-radius: 50%;
    height: auto;
    margin-left: 10px;
    opacity: 0.8;
    width: 30px;
}

main {
    padding: 20px;
    padding-bottom: 0;
}

h1, h2, h3 {
    color: #2c3e50;
}

section {
    margin-bottom: 40px;
    padding-top: 110px;
}

/* Estilo para la sección de Integrantes */
.integrantes-container {
    align-items: flex-start; /* Alineamos desde el principio */
    display: flex;
    justify-content: center;
}

.integrante {
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    clear: both; /* Asegura que el texto no se desborde debajo */
    display: block; /* Cambiar a bloque para que el texto fluya alrededor */
    margin-bottom: 20px;
    padding: 20px;
    text-align: justify;
    width: 50%; /* Ocupa 1/2 de la pantalla */
}

.integrante img {
    border-radius: 4px;
    float: left; /* Flota a la izquierda */
    height: auto;
    margin-bottom: 20px; /* Añadir espacio abajo */
    margin-right: 20px;
    width: 265px;
}

.integrante-texto {
    overflow: hidden; /* Evita que el texto se desborde */
}

.bocadillo {
    background: linear-gradient(to right, blue 33.33%, white 33.33%, white 66.66%, red 66.66%);
    border-radius: 4px;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px; /* Añadir espacio abajo */
    padding: 8px 15px;
    position: relative;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 1)
}

.bocadillo::after {
    border-color: blue transparent transparent transparent; /* Color de la flecha */
    border-style: solid;
    border-width: 10px; /* Tamaño de la flecha */
    bottom: -10px; /* Coloca el rabito debajo del bocadillo */
    content: '';
    left: 19%;
    position: absolute;
    transform: translateX(-50%) rotate(135deg); /* Gira la flecha para inclinarla */
}

.integrante h2 {
    font-size: 30px;
    font-weight: normal;
    margin-bottom: 2px;
}

.integrante hr {
    border-top: 2px solid #555;
    margin: 5px 0;
}

.integrante .subtitulo {
    font-size: 18px;
    font-style: italic;
    margin-bottom: 10px;
}

/* Estilos para la sección Sitios Turísticos */
#sitios {
    padding: 20px;
    padding-top: 125px; /* Ajusta este valor según el tamaño de tu header */
    text-align: center;
}

.polaroid-grid {
    display: grid;
    gap: 30px; /* Espacio entre los bloques */
    grid-template-columns: repeat(3, 1fr); /* 3 columnas */
    margin-top: 20px;
    margin: 0 auto; /* Centrado horizontal */
    width: 80%; /* Puedes ajustarlo a tu preferencia */
}

.polaroid-grid a {
    text-decoration: none; /* Elimina el subrayado */
}

.polaroid {
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    position: relative;
    transform: rotate(-5deg); /* Rotación para simular efecto Polaroid */
    transition: transform 0.3s ease-in-out;
    width: 100%;
}

.polaroid:hover {
    transform: rotate(0deg); /* El bloque vuelve a su posición original al pasar el mouse */
}

.polaroid img {
    border-radius: 8px;
    display: block;
    height: auto;
    width: 100%;
}

.caption {
    color: #333;
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
}

/* Estilo para la sección de Video */
#video {
    align-items: center;
    display: flex;
    height: 95vh;
    justify-content: center;
}

iframe {
    border-radius: 8px;
    border: none;
    height: 450px;
    max-width: 800px;
    width: 100%;
}

/* Estilos generales para la sección */
#infografia {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    padding: 120px 20px 0 20px; /* 40A 30D 20B 10I */
    padding-top: 120px;
    text-align: center;
}

#infografia p strong {
    font-weight: bold;
}

/* Estilos para el mensaje final */
#infografia p.final-message {
    color: #555;
    font-size: 18px;
    font-weight: bold;
    margin-top: 30px;
}

/* Estilos generales para la sección */
#infografia h2 {
    color: #2c3e50;
    font-size: 32px;
    margin-bottom: 30px;
}

/* Estilos del carrusel */
#carouselAldeaReina {
    height: auto;  /* La altura del carrusel se ajustará automáticamente */
    margin: 0 auto;
    position: relative;  /* Para posicionar las flechas correctamente */
    width: 800px;  /* Hace que el carrusel ocupe todo el ancho de la pantalla */
}

/* Asegura que las imágenes sean del mismo tamaño y no superen los 500px */
#carouselAldeaReina .carousel-item img {
    border-radius: 8px;
    height: 500px;  /* Limitar la altura de las imágenes a 500px */
    object-fit: cover;  /* Hace que las imágenes mantengan su proporción sin deformarse */
    width: 100%;  /* Las imágenes ocuparán todo el ancho del carrusel */
}

/* Estilos personalizados para las flechas del carrusel */
.carousel-control-prev, .carousel-control-next {
    align-items: center;
    background-color: transparent;  /* Fondo totalmente transparente */
    border: none;  /* Eliminar cualquier borde */
    display: flex;
    height: 40px;
    justify-content: center;
    opacity: 0.6;  /* Hacer las flechas más transparentes */
    position: absolute;
    top: 50%;  /* Posiciona las flechas a la mitad de la imagen */
    transform: translateY(-50%);  /* Alinea las flechas verticalmente al centro */
    transition: opacity 0.3s ease;
    width: 40px;
}

.carousel-control-prev:hover, .carousel-control-next:hover {
    background-color: rgba(0, 0, 0, 0.2); /* Fondo ligeramente visible al pasar el mouse */
    opacity: 1;  /* Aumentar la opacidad al pasar el mouse */
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    color: #fff;  /* Mantener las flechas blancas */
    font-size: 24px;  /* Asegurarse de que las flechas tengan un tamaño adecuado */
}

/* Estilo para el botón de siguiente */
.carousel-control-next {
    right: 10px;
}

/* Estilo para el botón de anterior */
.carousel-control-prev {
    left: 10px;
}

#back-to-top {
    position: fixed;
    bottom: 20px; /* Distancia desde la parte inferior */
    right: 20px;  /* Distancia desde el lado derecho */
    background-color: rgba(0, 0, 0, 0.3); /* Fondo opaco */
    color: white; /* Color de la flecha */
    border-radius: 50%; /* Para hacerla circular */
    padding: 10px 20px;
    font-size: 25px; /* Tamaño del ícono */
    display: none; /* Inicialmente no visible */
    cursor: pointer;
    transition: opacity 0.3s; /* Efecto de opacidad al pasar el mouse */
}

#back-to-top:hover {
    background-color: rgba(0, 0, 0, 0.7); /* Cambia el color al pasar el mouse */
    opacity: 0.8; /* Da un efecto de transparencia */
}

#back-to-top i {
    margin: 0;
}

footer {
    background-color: #333;
    color: white;
    padding: 30px 20px;
    text-align: center;
    position: relative;
    width: 100%;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-logo img {
    width: 150px;  /* Ajusta el tamaño del logo */
    height: auto;
    margin-bottom: 20px;  /* Espacio debajo del logo */
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 20px;  /* Espacio debajo de los iconos sociales */
}

.social-icon img {
    width: 5px;
    height: 5px;
    transition: transform 0.3s ease;
}

.social-icon:hover img {
    transform: scale(1.1);  /* Efecto de zoom al pasar el mouse */
}

footer p {
    font-size: 14px;
    color: #ccc;
}

/* Diseño responsive */
@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        text-align: center;
    }

    .footer-logo {
        margin-bottom: 20px;
    }

    .social-icons {
        margin-bottom: 20px;
    }
}


@media (max-width: 768px) {
    header {
        flex-direction: column;
        padding: 15px;
        text-align: center;
    }

    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin: 10px 0;
    }

    .integrante {
        align-items: center;
        flex-direction: column;
        width: 90%; /* Más ancho en pantallas pequeñas */
    }

    .integrante img {
        margin-bottom: 20px;
    }

    iframe {
        width: 100%;
    }
}